* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.header {
    background: #000;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 960px;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid red;
}

.header .logo {
    padding: 0 55px;
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
}

.header .logo span {
    font-weight: 900;
    color: #24ba9f;
}

/* Belka Menu */
.header .wrapper {
    padding-top: 7px;
    padding-bottom: 7px;
}

.menu {
    padding: 0 63px;
}

.menu__content {

}

.menu__element {
    position: relative;
    display: inline-block;
}

.menu__element>a {
    position: relative;
    padding-left: 35px;
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;

    border: 1px solid red;
}

 .menu__dropdown {
    position: absolute;
    left: 10px;
    padding: 10px 10px 10px 5px;
    background: #000000;
     top: calc(100% + 20px);
}

 .menu__dropdown::before {
     position: absolute;
     top: -10px;
     content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid black;
 }

ul.menu__dropdown {
    list-style-type: none;
    padding: 10px;
}

.dropdown__element>a {
    padding: 10px;
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    text-transform: initial;
    color: #FFFFFF;
}

/* sekcja 1 */

.first__section.wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 400px;
    background: linear-gradient(#fff, #dedede);
}

.first__section>p:first-child {
    padding: 0 0 0 60px;
    color: #24ba9f;
    font-size: 60px;
    font-weight: normal;
}

.first__section>p:last-child {
    padding: 0 60px 0 0;
    color: #24ba9f;
    font-size: 60px;
    font-weight: normal;
}

.first__section__box {
    display: flex;
    flex-direction: row;

    border: 1px solid red;
}

.box__photo {
    margin-left: -70px;
    margin-right: -50px;
    margin-bottom: -50px;

    border: 1px solid red;
}

.box__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 50px;
    margin-right: 85px;

    border: 1px solid red;
}

.box__content h3 {
    text-transform: uppercase;
    font-size: 32px;
    margin-bottom: 22px;
}

.box__content h3 span {
    font-weight: 800;
    color: #24ba9f;
}

.box__content p {
    margin-bottom: 25px;
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
    line-height: 150%;
}

.box__content button {
    padding: 10px 25px 10px 33px;

    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #24ba9f;
    border: 0;
    border-radius: 7px;
}

