* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.header {
    background: #000;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.header .logo {
    padding: 0 55px;
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
}

.header .logo span {
    font-weight: 900;
    color: #24ba9f;
}

/* Belka Menu */
.header .wrapper {
    padding-top: 7px;
    padding-bottom: 7px;
}

.menu {
    padding: 0 63px;
}

.menu__content {

}

.menu__element {
    position: relative;
    display: inline-block;
}

.menu__element>a {
    position: relative;
    padding-left: 35px;
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

 .menu__dropdown {
    position: absolute;
    left: 10px;
    padding: 10px 10px 10px 5px;
    background: #000000;
     top: calc(100% + 20px);
}

 .menu__dropdown::before {
     position: absolute;
     top: -10px;
     content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid black;
 }

ul.menu__dropdown {
    list-style-type: none;
    padding: 10px;
}

.dropdown__element>a {
    padding: 10px;
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    text-transform: initial;
    color: #FFFFFF;
}

/* sekcja 1 */

.first__section.wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 400px;
    background: linear-gradient(#fff, #dedede);
}

.first__section>p:first-child {
    padding: 0 0 0 60px;
    color: #24ba9f;
    font-size: 60px;
    font-weight: normal;
}

.first__section>p:last-child {
    padding: 0 60px 0 0;
    color: #24ba9f;
    font-size: 60px;
    font-weight: normal;
}

.first__section__box {
    display: flex;
    flex-direction: row;
}

.box__photo {
    margin-left: -70px;
    margin-right: -50px;
    margin-bottom: -50px;
}

.box__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 50px;
    margin-right: 85px;
}

.box__content h3 {
    text-transform: uppercase;
    font-size: 32px;
    margin-bottom: 22px;
}

.box__content h3 span {
    font-weight: 800;
    color: #24ba9f;
}

.box__content p {
    margin-bottom: 25px;
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
    line-height: 150%;
}

.box__content button {
    padding: 10px 25px 10px 33px;

    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #24ba9f;
    border: 0;
    border-radius: 7px;
}

/*Sekcja 2*/

.second__section {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    padding: 12px 50px;
    height: 285px;
}

.second__section article {
    margin: 10px 12px;
}

.white-chair {
    display: block;
    height: 180px;
    width: 950px;
    background-image: url('../images/box1_img.jpg');
    background-size: cover;
}

.white-chair h4 {
    margin-top: 120px;
    padding: 7px 10px 15px;
    background-color: rgba(255,255,255,0.6);
}

.white-chair hr {
    width: 105px;
}

.baby {
    display: block;
    height: 180px;
    width: 950px;
    background-image: url('../images/box2_img.jpg');
    background-size: cover;
}

.baby h4 {
    margin-top: 120px;
    padding: 7px 10px 15px;
    background-color: rgba(255,255,255,0.6);
}

.baby hr {
    width: 105px;
}

.second__section-content {
    border: 1px solid #dedede;
    padding: 20px 20px;
}

.chair-logo {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 150%;
}

.second__section-content hr {
    width: 110px;
    margin-bottom: 10px;
}

.second__section-content p {
    margin-bottom: 20px;
    text-align: left;
    font-size: 11px;
    font-weight: lighter;
    line-height: 150%;
}

hr {
    background-color: #24ba9f;
    height: 6px;
    border: none;
}

/*Sekcja 3*/

.section__third {
    position: relative;
}

.section-header {
    display: block;
    padding: 30px 0 30px 55px;
    text-transform: uppercase;

    margin-left: auto;
    margin-right: auto;

    width: 960px;
    background: #f1f1f1;
}

.section__third h3::after {
    position: absolute;
    content: '';
    top: 58px;
    left: 525px;
    height: 6px;
    width: 257px;

    background: #24ba9f;
}

.offer {
    position: relative;
    padding: 20px 50px 40px;
    background: #f1f1f1;
}

.offer-element {
    position: relative;
    margin-top: 20px;
    height: 400px;
    width: 265px;
    border: 2px solid #c2c2c2;
}

.offer-second {
    border: 2px solid #24ba9f;
}

.offer article:nth-of-type(odd)::before {
    position: absolute;
    content: '';
    top: -33px;
    left: 110px;
    height: 42px;
    width: 42px;
    border: 2px solid #c2c2c2;
    border-radius: 50px;
    background: #fff;
    z-index: 100;
}

.offer article:nth-of-type(odd)::after {
    position: absolute;
    content: '';
    top: -20px;
    left: 123px;
    height: 16px;
    width: 16px;
    border: 2px solid #c2c2c2;
    border-radius: 50px;
    background: #c2c2c2;
    z-index: 101;
}

.offer article:nth-of-type(even)::before {
    position: absolute;
    content: '';
    top: -33px;
    left: 110px;
    height: 42px;
    width: 42px;
    border: 2px solid #24ba9f;
    border-radius: 50px;
    background: #24ba9f;
    z-index: 100;
}

.offer article:nth-of-type(even)::after {
    position: absolute;
    content: '';
    top: -22px;
    left: 121px;
    height: 20px;
    width: 20px;
    border: 2px solid #24ba9f;
    border-radius: 50px;
    background: #fff;
    z-index: 101;
}

.offer-element {

}

.offer-element:nth-of-type(odd) {
        background: #fff;
}

.offer-element:nth-of-type(odd) h4 {
    padding: 19px;
    color: #24ba9f;
    text-transform: uppercase;
    font-size: 19px;
    text-align: center;

}

.offer-element:nth-of-type(odd) .offer-price {
    margin-top: 2px;
    margin-left: 80px;
    height: 103px;
    width: 103px;
    border-radius: 50px;
    border: 2px solid #c2c2c2;
}


.offer-element:nth-of-type(even) {
    background: #24ba9f;
    border: 2px solid #24ba9f;
}

.offer-element:nth-of-type(even) h4 {
    padding: 19px;
    color: #fff;
    text-transform: uppercase;
    font-size: 19px;
    text-align: center;

}

.offer-element:nth-of-type(even) .offer-price {
    margin-top: 2px;
    margin-left: 80px;
    height: 103px;
    width: 103px;
    border-radius: 50px;
    border: 2px solid #24ba9f;
    background: #fff;
}

.offer-element:nth-of-type(odd) .offer-price p {
    margin-top: 18px;
    text-align: center;
    color: #c2c2c2;
}

.offer-element:nth-of-type(even) .offer-price p {
    margin-top: 18px;
    text-align: center;
    color: #24ba9f;
}

.offer-price p span {
    font-size: 35px;
}

.offer-price p:nth-of-type(even) {
    margin-top: 5px !important;
}

.offer-element ul {
    margin: 28px 0;
}

.offer-element ul li {
    padding: 7px 0;
    list-style-type: none;
    color: #a1a1a1;
    text-align: center;
    font-size: 19px;
    font-weight: lighter;
}

.offer-element:nth-of-type(odd) ul li:nth-of-type(odd){
    background: #e4e4e4;
}

.offer-element:nth-of-type(odd) ul li:nth-of-type(even){
    background: #f1f1f1;
}

.offer-element:nth-of-type(even) ul li:nth-of-type(odd){
    background: #ffffff;
}

.offer-element:nth-of-type(even) ul li:nth-of-type(even) {
    background: #f1f1f1;
}

.offer-element:nth-of-type(odd) button {
    margin-left: 50px;
    padding: 7px 22px;
    border-radius: 12%;
    text-transform: uppercase;
    color: #fff;
    background: #24ba9f;
    border: none;
}

.offer-element:nth-of-type(even) button {
    margin-left: 50px;
    padding: 7px 22px;
    border-radius: 15%;
    text-transform: uppercase;
    color: #24ba9f;
    background: #fff;
    border: 2px solid #24ba9f;
}

/* sekcja 4 */

.section__fourth {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 960px;

}

.flex-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 55px;

    width: 960px;
    height: 320px;

}

.flex-form-content {
    display: flex;
    flex-direction: column;
}

.section-fourth-header {
    display: block;
    padding: 30px 0 30px 55px;
    text-transform: uppercase;

    margin-left: auto;
    margin-right: auto;

    width: 960px;
    background: #f1f1f1;
}

.section__fourth h3::after {
    position: absolute;
    content: '';
    top: 58px;
    left: 55px;
    height: 6px;
    width: 257px;

    background: #24ba9f;
}

.contact-form {

}

.send-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 43px;

}

#name, #email, #message {
    margin: 14px 0 8px;
    padding: 0 12px;
    border: 1px solid #24ba9f;
}

#name, #email, #message::-webkit-input-placeholder {
    font-size: 27px;
    font-weight: 200;
    /* Chrome, Opera, Safari */
}
#name, #email, #message::-moz-placeholder {
    font-size: 27px;
    font-weight: 200;
     /* Firefox */
 }
#name, #email, #message::-ms-input-placeholder {
    font-size: 27px;
    font-weight: 200;
      /* IE 10+ */
  }

#name, #email {
    height: 53px;
    width: 508px;
}

#message {
    padding-top: 10px;
    height: 150px;
    resize: none;
}

#red-chair {
    margin-top: -5px;
    padding-right: 30px;
    height: 165px;
    width: 215px;
}

.check {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 27px 0;
}

input[type="checkbox"]:checked{
    height: 80px;
    width: 80px;
    border: 1px solid #24ba9f;
    display: block;
    color: #24ba9f;
    background-color: white;
}

label {
    font-weight: 200;
    margin-right: -10px;
    padding-left: 10px;
    font-size: 16px;

}

.form-button {
    margin-left: 30px;
    margin-bottom: 5px;
    padding: 20px 82px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    color: #fff;
    background: #24ba9f;
    font-size: 26px;
    border: none;
}

/* Footer */

.footer-content {
    position: relative;
    width: 960px;
    padding: 65px 50px 70px 55px;
    display: flex;
    flex-direction: row;
}

#copyright {
    position: absolute;
    top: 75px;
    left: 55px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
}
.logo-footer{
    position: absolute;
    top: 70px;
    left: 730px;
    padding: 0 55px;
    font-size: 15px;
    text-transform: uppercase;
    color: #a5a5a5;
    font-weight: 600;
    letter-spacing: 1px;
}

.logo-footer span {
    font-weight: 900;
}

.social-media {
    position: absolute;
    top: 60px;
    left: 610px;
}

.social-media-icon {
    height: 27px;
    width: 27px;
}








